extends layout
block content
    .row.banner
        .col-12
            h1= title
    .row
        .col-12.col-lg-8
            p 
                | 1-to-1 Time Tracker was created by Taylor Fernald and Logan Richardson.
                | <br /><br />
                | This website showcases what we have learned in Dr. Fenwick's grad MEAN web Dev.