extends layout

block content
  .row.banner
    .col-12
      h1 Add New Character

  .row
    .col-12.col-md-8
      form(action="/character", method="get", role="form")
        - if (error == "val")
          .alert.alert-danger(role="alert") All fields required, please try again
        .form-group.row
          label.col-10.col-sm-2.col-form-label(for="characterName") Character Name
          .col-12.col-sm-10
            input#name.form-control(name="characterName")
        .form-group.row
          label.col-10.col-sm-2.col-form-label(for="class") Class
          .col-12.col-sm-10
            input#name.form-control(name="class")
        .form-group.row
          label.col-10.col-sm-2.col-form-label(for="review") Flavor Text
          .col-12.col-sm-10
            textarea#review.form-control(name="flavorText", rows="5")
        button.btn.btn-primary.float-right Add New Character
    .col-12.col-md-4