extends layout 

block content
    .row.banner
        .col-12
            h1 1-to-1 Time Tracker
                small &nbsp; Track your game characters! 
    .row
        .col-12.col-md-8
            .card 
                .card-block
                    h4 
                        a(href="/character/info") Gandalf
                        small &nbsp;
                        span.badge.badge-pill.badge-lockout-unavailable.float-right Locked Out
                        span.badge.badge-pill.badge-default.float-right Level 20
                    P.stats 
                        span.badge.badge-warning Body 10
                        span.badge.badge-warning Mind 16
                        span.badge.badge-warning Soul 20
                        span.badge.bardge-warning HP 60
            .card
                .card-block
                h4 
                    a(href="/character/info") Optimus Prime
                    small &nbsp;
                    span.badge.badge-pill.badge-lockout-available.float-right Available
                    span.badge.badge-pill.badge-default.float-right Level 18
                P.stats 
                    span.badge.badge-warning Body 16
                    span.badge.badge-warning Mind 14
                    span.badge.badge-warning Soul 10
                    span.badge.badge-warning HP 100
            .card
                .card-block
                h4 
                    a(href="/character/info") Eric Cartman
                    small &nbsp;
                    span.badge.badge-pill.badge-lockout-available.float-right Available
                    span.badge.badge-pill.badge-default.float-right Level 08                    
                P.stats 
                    span.badge.badge-warning Body 05
                    span.badge.badge-warning Mind 12
                    span.badge.badge-warning Soul 14
                    span.badge.badge-warning HP 84
        .col-12.col-md-4 
            p.lead 1-to-1 tracker helps you keep track of your game characters. 
            <br> No more tracking characters on your own with pesky calendars and notebooks.
            <br> Let us do the heavy lifiting. The latest inovation in gameplay.
            <br> Our system will revolutionize your gameplay forever!!!